CONVEX_DEPLOYMENT=
CONVEX_URL=
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_FRONTEND_API_URL=
OPENAI_API_KEY=
BLOB_READ_WRITE_TOKEN=
GREENLIT_LOCAL_DATA_DIR=.local-data
GREENLIT_AUTH_DRIVER=
GREENLIT_CONVEX_API_SECRET=
GREENLIT_METADATA_DRIVER=
GREENLIT_STORAGE_DRIVER=
GREENLIT_ANALYSIS_MODE=
